body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.container {
    text-align: center;

}

.game-board {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 2px;
    margin: 20px auto;
    border: 2px solid black;
}

.score-board{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #ddd;
}

.snake {
    background-color: green;
}

.apple::after {
    content: "";
    width: 80%;
    height: 80%;
    display: block;
    background-color: red;
    border-radius: 50%;
    margin: auto;
}